# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
crash.log

# Terragrunt
.terragrunt-cache
*.svg
tmp

# Ignore CLI configuration files
.terraformrc
terraform.rc

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea
build/
*/build/
out/

# VSCode
.vscode/
